@charset "UTF-8";

/* 헤더 */
#header { border-bottom: 1px solid #eee;  }
#header h1 {  text-align: center; padding: 56px 0; /* font-family: 'GmarketSansLight'; font-weight: 800; font-size: 2.25em; */ /* line-height: 32px; */ /* letter-spacing: -0.2px; color: #333; */} 
#header h1 a { display: inline-block; height: 42px; text-decoration: none; color: #333; vertical-align: top;} 
#header h1 a img {height:100px ; margin-top:-25px;}
#header .util .menu {  /* left: 24px; */  position: relative;   top:-56px;   float: left;  margin-left: 24px;  display: inline-block; }
.hide_wrap{ /* margin-left:-30px; border-right:2px solid #e0e0e0;  padding-right: 10px; */}
#header .util .search {  left: 70px;  position: absolute ;   top: 108px;  float: left;  overflow: hidden;  margin-left: 24px;  background-color: #fff; /* box-sizing: border-box; */ -webkit-transition: width 0.5s;   }
#header .util .search .input_text{  font-family: 'GmarketSansLight'; font-weight: 800; font-size: 0.85em; text-align:center; height: 35px; float: left;  overflow: hidden; margin-right:2px; margin-top: 6px;  background-color: #fff; box-sizing: border-box;  }
#header .util .search button{ margin-top:1px;  border:0;  outline:none;  cursor:pointer;}
#header .util .right_menubar {font-family: 'GmarketSansLight'; font-weight: 800; font-size: 1.35em; letter-spacing: -0.2px; color: #333;}
/* #header .util .right_menubar .contact{  position: relative;  top:-36px;  float: right;  margin-right: 24px; } */
#header .util .right_menubar .about{   position: relative;  top: -36px;  float: right;  overflow: hidden; margin-right: 24px;  background-color: #fff; box-sizing: border-box; -webkit-transition: width 0.5s;}
#header .util .menu a{ cursor:pointer;}
#header .util .menu .hide{ width:220px; display:none;  margin-top: 20px; border-color: #e8e8e8; border-top: 5px solid #e0e0e0; border-bottom: 5px solid #e0e0e0;}
#header .util .menu .hide li{ padding: 15px 0; font-family: 'GmarketSansLight'; font-weight: 800; font-size: 1.05em; letter-spacing: -0.2px; color: #333; border-bottom:1px solid #e0e0e0;} 
#header .util .menu .hide li a{cursor:pointer;}
#header .util .menu .hide li img{width:20px; /* margin-left: 4px;  */cursor:pointer;}
#header .util .menu .hide .sub_hide li{ text-align: center; padding: 15px 0; font-family: 'GmarketSansLight'; /* font-weight: 800; */ font-size: 0.85em; letter-spacing: -0.2px; color: #333333a1; border-top:1px solid #e0e0e0;}

/*푸터 */
#footer { padding-left: 24px; padding-right: 24px; padding: 38px 0 28px;  border-top: 1px solid #eee; max-width: 1800px;   margin: 0 auto;}
#footer .inner { position: relative;  max-width: 1080px;  margin: 0 auto;  } 
#footer .page-top { position: absolute; top: -20px; right: 0; width: 30px; /* height: 30px; border: 1px solid #eee; border-radius: 50%; background: #fff url(./images/ico_package.png) no-repeat -100px -200px; text-indent: -999em; */}
#footer .visitor { /* float: left; margin-bottom: 20px; */position: absolute; top: -10px; right: 400px; width: 200px;  font-family: 'GmarketSansLight';  font-weight: 400;  font-size: 1.05em; color: ##333; /* display: inline-block; */}
#footer .copyright{ position: absolute; top: -10px; font-family: 'GmarketSansLight'; font-weight: 800; font-size: 1.35em; color: #333;}

/*왼쪽 사이드*/
.sidebar { display: inline-block; top: 800px; right: 210px;}
.sidebar .left_side { position: absolute; margin-bottom: 46px; border-color: #e8e8e8; border-top: 3px solid #e0e0e0; /* width: 240px; */ /* margin-top:900px; */ }
.sidebar .left_side h2 { font-family: 'GmarketSansLight'; /* margin-bottom: 12px; */ font-weight: 800; font-size: 1.075em; color: #555; /* margin-top: 12px; */ text-align: center; border-bottom: 1px solid #e0e0e0;  padding: 10px;}
/* .sidebar .tab-ui */ h2 a:first-child{margin-right:30px;}
.sidebar .left_side h2 .recent { color: #333;}
.sidebar .left_side h2 .popular { color: #333333a1;}
.sidebar .left_side ul li { overflow: hidden; margin-bottom: 18px; padding: 0;}
.sidebar ul li { font-size: 0.8125em; line-height: 1.25rem; color: #777;}
.sidebar .left_side ul li a { display: block; overflow: hidden; text-decoration: none; }
.sidebar ul li a { color: #777; }
.sidebar .left_side ul li .title { display: -webkit-box; overflow: hidden; text-overflow: ellipsis; -webkit-line-clamp: 2; -webkit-box-orient: vertical; } 
.sidebar .left_side ul li .date { display: block; margin-top: 6px; font-size: 0.75rem; line-height: 1; }
.sidebar .left_side .tags { margin: 0 0 41px; /* padding:15px; */ width:240px; font-size: 1.075em; font-weight: 800; border-top: 3px solid #e0e0e0; border-bottom: 3px solid #e0e0e0; }
.sidebar .left_side .tags h2 { margin-bottom: 8px; font-size: 0.875em; }
.sidebar .left_side .tags a { float: none; margin: 0 4px 0 0; padding: 6px; border: 0; font-size: 0.8125em; line-height: 2; color: #555; }
.sidebar .left_side .tags .tag_a {padding:20px;}
/*전체 배경*/
#all_wrap_main { height:1400px; max-width:1200px; margin: 0 auto; background-color: white; margin-top:20px; margin-bottom:20px;/* width: calc(1700px/2); */ margin-left:300px;}
#all_wrap{ /* height:1600px; */height:1400px; max-width:1800px; margin: 0 auto; background-color: white; margin-top:20px; margin-bottom:20px;/* width: calc(1700px/2); */}

/*list*/
#content {/*  padding-bottom: 43px; float: left; */  width: 80%; padding: 20px 40px; box-sizing: border-box; margin-left: 260px;}
#content .inner{heiht:0px;}
.post-header { padding-top: 4px; padding-bottom:20px;}
.post-header h1 { margin-bottom: 18px; font-size: 1em; line-height: 1.375; }
.post-header h1 em { margin-left: 7px; font-style: normal; }
.post-header h1 em { color: #04beb8; }
.post-item:nth-child(3n+1) { /*  clear: both;  margin-left: 0; */    width: 31.081081081081081%; }
.post-item { float: left;  width: 31.081081081081081%;  margin: 0 0 58px 2.0008378378378378%; }
.post-item a { display: block; text-decoration: none; }
.post-item .thum { position: relative; display: block; overflow: hidden; width: 100%; height: 0; margin-bottom: 5px; padding-bottom: 60.869565217391304%; background-color: #f8f8f8; }
.post-item .thum img { width: 100%; height: auto; -webkit-transform: translateY(-25%); border: none; vertical-align: top; }
.post-item .title { display: block; overflow: hidden; max-width: 98%; margin-bottom: 4px; padding-top: 9px; text-overflow: ellipsis; white-space: nowrap; line-height: 1.4; }
.post-item .excerpt { overflow: hidden; max-width: 95%; margin-bottom: 15px; text-overflow: ellipsis; font-size: 0.8125em; line-height: 1.5rem; color: #999; display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical; }
.post-item .meta { display: block; font-size: 0.75em; color: #999; }
.pagination { /* margin-bottom: 60px;  */text-align: center; float:left; margin-left:420px; }
.pagination .prev, .pagination .next { width: 22px; height: 22px; border: 1px solid #eee; border-radius: 50%; background: url(./images/ico_package.png) no-repeat 0 -50px; text-indent: -999em; }
.pagination a { display: inline-block; margin: 0 12px; font-size: 0.875em; line-height: 1.5rem; vertical-align: top; color: #999; }
.pagination .selected { color: #333; }
.pagination .next { background-position-x: -50px; }

/*detail*/
#container_wrap { /* padding-top: 339px;  */    position: relative; }
#container_wrap .content-wrap { max-width: 1080px; margin: 0 auto; padding: 0 20px; }
#container_wrap .content-wrap #content_detail { /* float: left; */ width: 90%;  padding: 72px 0 60px;  box-sizing: border-box; margin-left:180px; }
.post-cover-detail .inner { /* display: table-cell; */ position: relative; z-index: 10; vertical-align: bottom; padding-bottom: 8px; border-bottom: 2px solid #e0e0e0; }
.post-cover-detail .category { display: block; max-width: 1080px; margin: 0 auto 13px; font-size: 0.875em; color:#0a0a0a; }
.post-cover-detail .inner h1 { word-break: keep-all; }
.post-cover-detail h1 { display: inline-block; max-width: 1080px; margin: 0 auto; font-weight: 300; font-size: 2.125em; line-height: 1.2352; color: #0a0a0a; }
.post-cover-detail .meta { /* display: block; */ max-width: 1080px; margin: 34px auto 0; font-size: 0.875em; color: #0a0a0a; margin-left: 20px; }
.post-cover-detail .meta span{margin-left:100px;}
.entry-content .tt_article_useless_p_margin .main_contents{max-width: 1080px; max-height:1400px; padding: 20px;}
.container_postbtn_detail { position: relative; clear: both; }
.container_postbtn_detail { margin: 20px 0 20px; padding: 0 !important; }
.container_postbtn_detail .postbtn_like { float: left; padding: 0 9px; border-radius: 16px; border: 1px solid #959595; border-color: rgba(185,185,185,0.5); font-size: 0 !important; }
.container_postbtn_detail .postbtn_like .wrap_btn { float: left; position: relative; }
.container_postbtn_detail .btn_post { height: 30px; padding: 0 6px; font-size: 0 !important; line-height: 0 !important; font-family: "Noto Sans DemiLight",AppleSDGothicNeo,"Malgun Gothic","맑은 고딕","돋움",dotum,sans-serif !important; color: inherit !important; }
.container_postbtn_detail .btn_post .ico_like { width: 15px; margin: 3px 4px 0 0; background-position: -100px -20px; }
.container_postbtn_detail .btn_post .ico_postbtn { height: 14px; max-width: 15px; }
.ico_postbtn, .container_postbtn_detail .ico_postbtn, .container_postbtn_detail, .btn_menu_toolbar, .img_common_tistory, .bundle_ccl .ico_postbtn  { display: inline-block; overflow: hidden; /* background: url(//t1.daumcdn.net/tistory_admin/static/admin/editor/ico_postbtn_190118.png) no-repeat; */ vertical-align: top; /* text-indent: -9999px; */ }
.container_postbtn_detail *{ letter-spacing: normal; }
.container_postbtn_detail .btn_post .txt_like { display: inline-block; margin: -1px 0 0; font-size: 13px !important; font-family: "Noto Sans DemiLight",AppleSDGothicNeo,"Malgun Gothic","맑은 고딕","돋움",dotum,sans-serif !important; line-height: 19px !important; color: inherit !important; vertical-align: top; }
.container_postbtn_detail .btn_post .ico_share { width: 13px; height: 15px; margin: -1px 0 0 0; background-position: -100px 0; }
.container_postbtn_detail .btn_post .ico_etc { height: 4px; margin-left: -1px; background-position: -120px 0; }
.container_postbtn_detail .postbtn_like + .btn_menu_toolbar { margin: 0 0 0 6px; }
.container_postbtn_detail .btn_menu_toolbar { width: 80px; height: 32px; padding: 0; border: 1px solid rgba(185,185,185,.5); border-radius: 16px; font-size: 0 !important; line-height: 30px; color: inherit; box-sizing: border-box; }
.container_postbtn_detail button{ font-family: Noto Sans DemiLight,AppleSDGothicNeo-Regular,'Malgun Gothic','맑은 고딕',dotum,'돋움',sans-serif !important; -webkit-font-smoothing: antialiased; background-color: transparent; cursor: pointer; outline: none; vertical-align: middle; }
.container_postbtn_detail .btn_menu_toolbar .txt_state { margin: 0 0 0 -1px; font-size: 13px !important; line-height: inherit !important; }
.container_postbtn_detail em{ font-style: normal; font-weight: normal; }
.container_postbtn_detail .txt_tool_id { display: none; }
.container_postbtn_detail .btn_menu_toolbar .ico_check_type1 { display: none; width: 9px; height: 7px; margin: 12px 0 0 3px; background-position: -120px -10px; }
.container_postbtn_detail .postbtn_ccl { float: right; position: relative; padding-top: 8px; }
.container_postbtn_detail div{ margin: 0; padding: 0; }
.container_postbtn_detail .link_ccl { display: block; height: 16px; font-size: 0 !important; }
.container_postbtn_detail a { color: #333; text-decoration: none; }
.container_postbtn_detail .bundle_ccl_detail { display: block; }
.bundle_ccl_detail .ico_ccl1 { background-position: 0 -40px; }
.bundle_ccl_detail .ico_postbtn { width: 16px; height: 16px; margin-left: 2px; }
#content_detail .another_category_detail { /* margin: 60px 0 57px !important; */ padding: 26px 0px 24px; border-top: 2px solid #e0e0e0;}
.another_category_color_gray , .another_category_color_gray h4 { border-color: #E5E5E5 !important; }
.another_category { border: 1px solid #E5E5E5; clear: both; }
#content_detail .another_category_detail h4 { margin: 0 0 13px !important; padding: 0 !important; border-bottom: 0 !important; font-size: 0.875em !important; color: #737373 !important; border-color: #E5E5E5 !important; }
.entry-content h4 { clear: both; font-weight: 400; line-height: 1.5; }
.another_category_detail h4 a { font-weight: bold !important; }
#content_detail .another_category_detail table { margin:20px; border: 0; }
.another_category_detail table { table-layout: fixed; border-collapse: collapse; width: 100% !important; }
.entry-content table { text-align: center; font-size: 0.9375em; line-height: 1.5714; }
.another_category_color_gray * { color: #909090 !important; }
.another_category_color_gray tbody { display: table-row-group; vertical-align: middle; border-color: inherit; }
.another_category_color_gray tr { display: table-row; vertical-align: inherit; border-color: inherit; }
#content_detail .another_category_detail th { padding: 2px 0 !important; font-size: 0.875rem !important; }
.another_category_detail th { text-align: left; font-weight: normal; word-break: break-all; overflow: hidden; line-height: 1.5; }
.another_category_detail th a { font-weight: normal; text-decoration: none; border: none !important; }
.another_category_detail th span { font-weight: normal; text-decoration: none; font: 10px Tahoma, Sans-serif; border: none !important; }
#content_detail .another_category_detail td { padding: 2px 0 !important; border: 0; font-size: 0.75rem !important; }
/* .another_category_detail td { text-align: right; width: 80px; } */
/* .related-articles-detail { margin-bottom: 55px; }
.related-articles-detail h2 { margin-bottom: 15px; font-weight: 600; font-size: 1em; }
.related-articles-detail ul { display: inline-block; width: 101.621621621621622%; margin-left: -1.621621621621622%; vertical-align: top; }
.related-articles-detail ul li:first-child { margin-left: 0; }
.related-articles-detail ul li { float: left; width: 25%; padding-left: 1.621621621621622%; box-sizing: border-box; }
.related-articles-detail ul li a { color: #555; }
.related-articles-detail ul li figure { display: block; width: 100%; height: 0; margin-bottom: 9px; padding-bottom: 68.181818181818182%; background-color: #f8f8f8; }
.related-articles-detail ul li .title { display: block; overflow: hidden; max-width: 95%; text-overflow: ellipsis; white-space: nowrap; font-size: 0.875em; line-height: 1.4; } */
.comments_detail { margin-bottom: 60px; }
.comments_detail h2 { margin-bottom: 15px; font-weight: 600; font-size: 1em; }
.comments_detail h2 .count { color: #04beb8;   margin-left: 4px; }
.comment-form-detail { position: relative; margin-bottom: 60px; }
.comment-form-detail .field { overflow: hidden; margin-bottom: -1px; border: 1px solid #eee; }
.comment-form-detail .field input:first-child { border-left: 0; }
.comment-form-detail .field input[type=text], .comment-form-detail .field input[type=password] { float: left; width: 50%; padding: 12px 16px; border: 0; border-left: 1px solid #eee; font-size: 0.875em; color: #777; box-sizing: border-box; }
input[type="password" i] { -webkit-text-security: disc !important; }
.comment-form-detail .secret { position: absolute; left: 0; bottom: 8px; }
.comment-form-detail .secret input { display: none; }
.comment-form-detail .secret label { display: inline-block; font-size: 0.8125em; line-height: 1.25rem; color: #666; outline: none; cursor: pointer; }
.comment-form-detail textarea { display: block; width: 100%; margin-bottom: 20px; padding: 16px 100px 16px 16px; border: 1px solid #eee; font-size: 0.875em; color: #777; box-sizing: border-box; resize: none; }
.comment-form-detail .submit { text-align: right; }
.comment-form-detail .submit button { background-color: #333; color: #fff; }
.btn_detail { display: inline-block; width: 100px; height: 36px; text-align: center; font-weight: 400; font-size: 14px; line-height: 36px; vertical-align: middle; }
.pagination_detail { margin-bottom: 60px; text-align: center; }
.pagination_detail .prev, .pagination_detail .next { width: 22px; height: 22px; border: 1px solid #eee; border-radius: 50%; background: url(./images/ico_package.png) no-repeat 0 -50px; text-indent: -999em; }
.pagination_detail a { display: inline-block; margin: 0 12px; font-size: 0.875em; line-height: 1.5rem; vertical-align: top; color: #999; } 

/*로그인*/
.text-form{  margin: 150px 200px;}
.loginBtn{}

/* 공통  디자인  */
button { overflow: visible; margin: 0; padding: 0; border: 0; background: transparent;}
ul li { list-style: none;}
a, a:link { text-decoration: none;  color: #777; }
p { display: block; margin-block-start: 1em; margin-block-end: 1em; margin-inline-start: 0px; margin-inline-end: 0px;}
div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, figure { margin: 0; padding: 0; display: block;}
ul { display: block; list-style-type: disc; margin-block-start: 1em; margin-block-end: 1em; margin-inline-start: 0px; margin-inline-end: 0px; padding-inline-start: 20px;}
ul ul { list-style-type: circle; margin-block-start: 0px; margin-block-end: 0px; margin-top: 15px;}
ul ul ul { list-style-type: square;}   
element.style { left: 0px; width: 543px;}
/* strong { font-weight: bold; }
h2 { display: block; margin-block-start: 0.83em; margin-block-end: 0.83em; margin-inline-start: 0px; margin-inline-end: 0px; }
figure { max-width: 100%; clear: both; margin-block-start: 1em; margin-block-end: 1em; margin-inline-start: 40px; margin-inline-end: 40px; }
input{ font-family: 'Noto Sans KR', sans-serif; border-radius: 0; -webkit-writing-mode: horizontal-tb !important; text-rendering: auto; letter-spacing: normal; word-spacing: normal; text-transform: none; text-indent: 0px; text-shadow: none; display: inline-block; text-align: start; background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59)); -webkit-rtl-ordering: logical; cursor: text; font: 400 13.3333px Arial; }
textarea{ font-family: 'Noto Sans KR', sans-serif; border-radius: 0; } */
