<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sj.nablog.mapper.BoardMapper"> <!-- namespace는 Mapper인터페이스와 동일한 이름 -->
    
    <resultMap type="com.sj.nablog.model.domain.BoardVO" id="resultList">
    	<id property="bno" column="b_no"/>  		<!-- 게시글 번호 -->
    	<result property="menuCateNo" column="menu_cate_no"/> 	<!--  메뉴 카테고리 번호 -->
    	<result property="bTitle" column="b_title"/> 		<!-- 게시글 제목 -->
    	<result property="bCnt" column="b_cnt"/> 		<!-- 게시글 내용 -->
<!--    <result property="bOrfile" column="b_orfile"/> 		첨부파일 원본이름
    	<result property="bRefile" column="b_refile"/> 	첨부파일 저장이름 -->
    	<result property="bDate" column="b_date"/> 		<!--게시글 작성일자 -->
    	<result property="bTage" column="b_tag"/> 		<!-- 게시글 태크 -->
    	<result property="bView" column="b_view"/>  	<!-- 게시글 조회수 -->
    	<result property="rgbdId" column="rgbd_id"/> 	<!-- 게시글 작성자 -->
    	<result property="bUsyn" column="b_usyn"/> 		<!-- 게시글 사용여부 (Y:사용, N:삭제) -->
    
    </resultMap>
    
    <!-- 목록 총 갯수를 조회합니다 -->
      <select id="selectTotalCount" resultType="_int"> <!-- select의 id는 mapper의 메서드 이름과 일치해야함 / resultType 속성의 값은 select쿼리의 결과를 특정 클래스의 객체로 만듦 -->
    	
    		 SELECT COUNT(*)  
   			 FROM BOARD
   			 <where> 			
   			 	<if test="search !=null">			
			 		b_title LIKE '%' || #{search} || '%' OR b_cnt LIKE '%' || #{search} || '%' OR b_tag LIKE '%' || #{search} || '%'
			 	</if>
			 	<if test="menuCateNo !=null">	 
			  		MENU_CATE_NO =#{menuCateNo}
			 	</if>
			  </where>
   
    </select>
    
     <!-- 메뉴카테고리에 해당하는 글 목록 조회 -->
    <select id="selectList" resultMap="resultList">
    	
    			SELECT * FROM BOARD WHERE MENU_CATE_NO=#{menuCateNo} ORDER BY B_DATE DESC
    
    </select>
    
    <!-- 전체 카테고리의 글에서 최근에 쓰여진 글 5개를 조회 -->
    <select id="selectRecent" resultMap="resultList">
    	
    	SELECT 
    		ROWNUM , A.*
			FROM 
				( SELECT *  FROM BOARD ORDER BY B_DATE DESC ) A
				<![CDATA[
				WHERE ROWNUM >=1 AND ROWNUM <=5
				]]>
    </select>
    
    <!-- 전체 카테고리의 글에서 가장 조회수가 높은 글 5개를 가져옵니다 -->
     <select id="selectPopular" resultMap="resultList">
    	
    	SELECT 
    		ROWNUM , A.*
			FROM 
				( SELECT *  FROM BOARD ORDER BY B_VIEW DESC ) A
		    <![CDATA[
			WHERE ROWNUM >=1 AND ROWNUM <=5
    		 ]]>
   
    </select>
   
   	<!-- 전체 검색한 내용을 가져옵니다 -->
   	<select id="selectFindList" resultMap="resultList">
		 
		 SELECT *  
   		 FROM BOARD 
		 WHERE (b_title LIKE '%' || #{search} || '%' OR b_cnt LIKE '%' || #{search} || '%' OR b_tag LIKE '%' || #{search} || '%')
		 ORDER BY B_DATE DESC
		 
   	</select>
   	
   	<!-- 태그 배열을 가져오기 -->
	<select id="selectTagList" resultType="String">
		SELECT
			  A.B_TAG as bTage
		FROM 
			(SELECT B_TAG, B_VIEW FROM BOARD WHERE B_TAG IS NOT NULL ORDER BY B_VIEW DESC ) A
		
	</select> 
	
	<!--게시물을 등록합니다 -->
	<insert id="insert">
		INSERT INTO BOARD VALUES (SEQ_BOARD_BNO.NEXTVAL , #{menuCateNo}, #{bTitle}, #{bCnt}, DEFAULT, #{bTage}, 0 , DEFAULT, Y  )
	</insert>
	 
</mapper>